html,
body {
  margin: 0px;
  padding: 0px;

  background-color: rgb(54, 57, 63);
  color: rgb(255, 255, 255);
}

.centered {
  text-align: center;
}

#top {
  top: 100px;

  position: relative;
}

#stream {
  position: absolute;

  top: 5%;
  right: 5%;
}

#discord {
  position: absolute;

  top: 38%;
  right: 5%;
}

.lang-icon {
  position: absolute;

  top: 2%;
  left: 1.125%;
}

strong {
  font-weight: bolder;
}

.bordered {
  border-style: solid;
  border-color: black;
}

.rounded {
  border-radius: 25px;
}

img:hover {
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
